language: node_js
node_js:
  - lts/*
notifications:
  email:
    on_success: change
    on_failure: always
script:
  - npm test
deploy:
  - provider: script
    skip_cleanup: true
    script: npm run _version
    on:
      branch: master
      repo: smockle/homebridge-harmony-tv
      tags: false
  - provider: npm
    skip_cleanup: true
    email: bot@smockle.com
    api_key:
      secure: ssn2WwCzJ1IXixPWZOBvx8yCSgMjO2huol9k+wvJD2pfocACIpHB084b6VDvJ/9dRBjwDb4QW3Rl57BPZCQGUzndzuw1KCqYwlixFc+C8uwUSlHlo3Ek2jfMrtiY7MBsgrg4zCGnpkvutpIBU6XXg12WxWng8lPx6xasE14T0wKHDn6OTMxpa62BPsdnbRkv/0GlqfM5cki+pyB07iSdIMG2U5KxqxiGaD6Pc5KkAka5iqY8d2gfljKpps8NvdL+BM67po1b70F/4Tf6kUF9Hj8t0Te0naFa04mxrAo5+uD5xGniUI9dp8aCXtCydkA6jYveEkwJTehjNm6w9gFeKD5utDU5LxJovB9P9B+34Odjevuhc6nBccTIoJ829TouBvFPwKdfbXns/foi8SlqJ/eVHr5kFnz6eAGqObgohl6VncqA7wtQIxpuENkFdn/lT+ANmzko4oF2Xfr/zumQW7bVvKxgdt6wDSCT5eDCbO45Eax92uqmNSBB+Cfn/3nPXM+uu8odJ+vGYjq+UjNPFUNNjv/E8CLook243MPVvnZtG6myzxAsx+Bpiiqosql2xNf96EU0zwtLfXffa8D7EoXbLKeseukKGodQvia0DUTsoYviyi8JTOuRQUxSLtIhJGgfbCqUSxFKwLNurltpOLYXrRDanFS8oy2PeKodXts=
    on:
      branch: master
      repo: smockle/homebridge-harmony-tv
      tags: false
