name: Publish
on:
  push:
    branches: ["main"]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Get sources
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Setup Node.js (npm)
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        uses: "actions/setup-node@v1"
        with:
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"

      - name: Locate yarn cache
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Restore yarn cache
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        run: yarn install

      - name: Build
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        run: yarn run build

      - name: Bump version
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        uses: "smockle/action-version@main"
        env:
          GITHUB_USER_EMAIL: bot@smockle.com
          GITHUB_USER_NAME: smockle-bot
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}

      - name: Publish (npm)
        if: contains(github.event.commits[0].message, '[skip ci]') == false
        run: "yarn publish --access public --registry=https://registry.npmjs.org/"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
